<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="../../resources/css/actibuddy.css" rel="stylesheet" />
    <link href="../../resources/css/mate_title.css" rel="stylesheet" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <title>메이트 글 작성</title>
  </head>
  <body>
    <nav class="navbar">
      <ul class="navbar_menu">
        <a href="../main/main.html"
          ><img src="../../resources/image/actibuddylogo.png" class="nav_logo"
        /></a>
        <li class="dropbox">
          <a href="../activity/activity.html">액티비티</a>
        </li>
        <li class="dropbox"><a href="../Mate/matemain.html">메이팅</a></li>
        <li><input type="text" placeholder="Search" /></li>
        <li>
          <button
            type="button"
            onclick="location.href='../activity/searchActivity.html'"
          >
            Submit
          </button>
        </li>
      </ul>

      <ul class="navbar_link">
        <li><a href="../FAQ/FAQ_main.html">FAQ</a></li>
        <li><a href="../singup/signup.html">회원가입</a></li>
        <li>
          <button
            type="button"
            class="login_btn"
            onclick="location.href='main.html'"
          >
            로그인
          </button>
        </li>
      </ul>
    </nav>

    <faq_main class="wrapper">
      <div class="faq">
        <img src="../../resources/image/faq_main.jpeg" />
      </div>

      <div>
        <div class="mate1"></div>
        <div class="mate1"></div>
      </div>
      <div class="div1"></div>
      <div>
        <div class="mate2">
          <div class="mate3"></div>
          <img src="../../resources/image/mate.png" />
        </div>
        <div class="mate2"></div>
        <div class="mate2"></div>
        <div class="mate2"></div>
      </div>
      <div></div>
    </faq_main>
    <footer>
      <div class="footer">
        <span></span>

        <ul>
          2021 액티버디
        </ul>
        <ul>
          회사소개
          <li><a href="../introduce/introduce.html">액티버디소개</a></li>
          <li><a href="../mypage/mypage.html">마이페이지</a></li>
        </ul>

        <ul>
          파트너십
          <li><a href="../partnership/partnership.html">파트너십</a></li>
        </ul>

        <ul>
          이용약관
          <li><a href="../FAQ/Privacy_Policy.html">약관</a></li>
        </ul>

        <ul>
          결제수단
          <li><a href="#">카카오페이</a></li>
        </ul>
        <span></span>
        <span></span>
      </div>
    </footer>
  </body>
</html>
