<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="../resources/css/actibuddy.css" rel="stylesheet">
    <!-- <link href="css/bootstrap.min.css" rel="stylesheet"> -->

    <title>main</title>
</head>
<body>
    <nav class="navbar">
        <ul class="navbar_menu">
            <img src="../resources/image/actibuddylogo.png" class="nav_logo">
            <li class="dropbox"><a href="#">액티비티</a></li>
            <li class="dropbox"><a href="#">메이팅</a></li>
            <li><input type="text" placeholder="Search"></li>
            <li><button type="submit">Submit</button></li>
        </ul>

        <ul class="navbar_link">
            <li><a href="">FAQ</a></li>
            <li><a href="">회원가입</a></li>
            <li><button type="button" class="login_btn" onclick="location.href='main.html'">로그인</button></li>
        </ul>
    </nav>


        <main class="wrapper">
            <div>
            <img src="../resources/image/actibuddylogo.png" class="mainlogo"> 
             </div>

             <div class="mainsearch">
                 <ul>
                    <input type="text" size="50" placeholder="Search"></li>
                    <button type="submit">검색하기</button></li>
                 </ul>
             </div>

        <div class="mainimage">
             <a href="https://www.naver.com/"><img src="../resources/image/seoul.jpeg"></a>
             <a href="https://www.google.com/"><img src="../resources/image/jeju.jpeg"></a>
             <a href="https://www.naver.com/"><img src="../resources/image/busan.jpeg"></a>
             <a href="https://www.naver.com/"><img src="../resources/image/jeonju.jpeg"></a>
 
             <a href="https://www.naver.com/"><img src="../resources/image/seoul.jpeg"></a>
             <a href="https://www.google.com/"><img src="../resources/image/jeju.jpeg"></a>
             <a href="https://www.naver.com/"><img src="../resources/image/busan.jpeg"></a>
             <a href="https://www.naver.com/"><img src="../resources/image/jeonju.jpeg"></a>
        </div>

        <div class="event">
             <a href="https://www.naver.com"><img src="../resources/image/summerdeal.png"></a>
        </div>
  

            <div class="favoacti">
              <h1>인기 액티비티 </h1>
              <div class="favo">
                    <div>
                        <h3>액티버티 이용자가 선호하는 인기 야외 액티비티</h3> <br><br>
                        <h4>화사한 햇살과 푸른 하늘의 자연과 함께하는 야외 액티비티로 스트레스를 날려버리세요!</h4>
                    </div>
                    <a href="https://www.naver.com/"><img src="../resources/image/seoul.jpeg"></a>
                     <a href="https://www.google.com/"><img src="../resources/image/jeju.jpeg"></a>
                     <a href="https://www.naver.com/"><img src="../resources/image/busan.jpeg"></a>
                </div>
           </div>
        </div>

            <div class="favoacti">
                <h1>지금 떠나기 좋은 감성 차박/캠핑/피크닉</h1>
               <div class="favo">
                    <img src="../resources/image/gotogether.png">
                    <a href="https://www.naver.com/"><img src="../resources/image/seoul.jpeg"></a>
                    <a href="https://www.google.com/"><img src="../resources/image/jeju.jpeg"></a>
                    <a href="https://www.naver.com/"><img src="../resources/image/busan.jpeg"></a>
             </div>


             </div>

             <div class="mate">
                <img src="../resources/image/mate.png">
             </div>

             <div class="mate1">
               <div class="order">
                    <a href="https://www.naver.com/"><img src="../resources/image/seoul.jpeg"></a>
                    <a href="https://www.google.com/"><img src="../resources/image/jeju.jpeg"></a>
                    <a href="https://www.naver.com/"><img src="../resources/image/busan.jpeg"></a>
             </div>

       
  
  
  
  
  
  
  
    </main>






        <footer>
            <div class="footer">
                <span></span>

                <ul>2021 액티버디</ul>

                <ul> 회사소개
                    <li><a href="#">회사소개</a></li>
                    <li><a href="#">액티버디소개</a></li>
                </ul>

                <ul> 파트너십
                    <li><a href="#">파트너십</a></li>
                </ul>

                <ul> 이용약관
                    <li><a href="#">약관</a></li>
                    <li><a href="#">개인정보보호방침</a></li>
                </ul>

                <ul>결제수단
                    <li><a href="#">카카오페이</a></li>
                </ul>
                <span></span>
                <span></span>


            </div>
            
        </footer>
</body>
</html>