<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>메이트 찾기</title>

    <link href="../resources/css/actibuddy.css" rel="stylesheet">
    <link href="../resources/css/mate.css" rel="stylesheet">


</head>
<body>


    <nav class="navbar">
        <ul class="navbar_menu">
            <img src="../resources/image/actibuddylogo.png" class="nav_logo">
            <li class="dropbox"><a href="#">액티비티</a></li>
            <li class="dropbox"><a href="#">메이팅</a></li>
            <li><input type="text" placeholder="Search"></li>
            <li><button type="submit">Submit</button></li>
        </ul>

        <ul class="navbar_link">
            <li><a href="">FAQ</a></li>
            <li><a href="">회원가입</a></li>
            <li><button type="button" class="login_btn" onclick="location.href='main.html'">로그인</button></li>
        </ul>
    </nav>
  
    

    <div class="mate_logo">
      <img src="../resources/image/matematching.png">
    </div>

    <div class="mate_ad">
        <a href="https://www.hyundailivart.co.kr/"><img src="../resources/image/livartad.png"></a>
    </div>


    <div class="mate_review">
        <img src="../resources/image/matingreview.png">
    </div>

    <br><br><br>

    <div class="mate_hurry">
        <img src="../resources/image/mateheart.png">
    </div>

    <br><br><br>

    <div class="mate_find">
        <img src="">
    </div>

    <br><br><br>

</body>

<footer>
    <div class="footer">
        <span></span>

        <ul>2021 액티버디</ul>

        <ul> 회사소개
            <li><a href="#">회사소개</a></li>
            <li><a href="#">액티버디소개</a></li>
        </ul>

        <ul> 파트너십
            <li><a href="#">파트너십</a></li>
        </ul>

        <ul> 이용약관
            <li><a href="#">약관</a></li>
            <li><a href="#">개인정보보호방침</a></li>
        </ul>

        <ul>결제수단
            <li><a href="#">카카오페이</a></li>
        </ul>
        <span></span>
        <span></span>


    </div>
    
</footer>
</html>