<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="../../resources/css/actibuddy.css" rel="stylesheet">
    <link href="../../resources/css/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" href="../../resources/css/activitymain.css">
    <title>activity-main</title>
</head>
<body id="body">
    <nav class="navbar1">
        <ul class="navbar_menu">
            <a href="../main/main.html"><img src="../../resources/image/actibuddylogo.png" class="nav_logo"></a>
            <li class="dropbox"><a href="../activity/activity.html">액티비티</a></li>
            <li class="dropbox"><a href="../Mate/matemain.html">메이팅</a></li>
            <li><input type="text" placeholder="Search"></li>
            <li><button type="button" class="search-btn" onclick="location.href='../activity/searchActivity.html'">Submit</button></li>
        </ul>

        <ul class="navbar_link">
            <li><a href="../FAQ/FAQ_main.html">FAQ</a></li>
            <li><a href="../singup/signup.html">회원가입</a></li>
            <li><button type="button" class="login_btn" onclick="location.href='../login/login.html'">로그인</button></li>
        </ul>
    </nav>    

    <br><br><br><br>
    <div class="jumbotron">
        <h2 class="mainTitle">액티비티 & 체험</h2>
        <p style="margin:10px 0 0 340px" >어트랙션 투어 및 체험 등 다양한 상품을 둘러보세요!</p>
        <div class="search">
            <ul>
            <input type="text" class="searchtext" placeholder="액티비티 또는 상품검색"></li>
            <button type="submit" class="searchbutton">검색하기</button></li>
            </ul>
        </div>
    </div>

    <div class="container" id="seoul"style="margin-top: 150px;">
        <div class="row">
            <div class="col-md-3" style="margin-top: 50px;">
                <h2>날씨 좋은데</h2>
                <h2>서울 나들이 어때?</h2>
                <p>서울부터 서울 근교까지 한번에!</p>
            </div>
            <div class="col-md-3">
                <a href="https://www.naver.com/"><img class="img" src="../../resources/image/seoul.jpeg"></a>
            </div>
            <div class="col-md-3">
                <a href="https://www.naver.com/"><img class="img" src="../../resources/image/seoul.jpeg"></a>
            </div>
            <div class="col-md-3">
                <a href="https://www.naver.com/"><img class="img" src="../../resources/image/seoul.jpeg"></a>
            </div>
        </div>
    </div>

    <div class="container" style="margin-top: 150px;">
        <div class="row">
                <div class="col-md-3" style="margin-top: 50px;">
                    <h2>날씨 좋은데</h2>
                    <h2>서울 나들이 어때?</h2>
                    <p>서울부터 서울 근교까지 한번에!</p>
                </div>
                <div class="col-md-3">
                    <a href="https://www.naver.com/"><img class="img" src="../../resources/image/seoul.jpeg"></a>
                </div>
                <div class="col-md-3">
                    <a href="https://www.naver.com/"><img class="img" src="../../resources/image/seoul.jpeg"></a>
                </div>
                <div class="col-md-3">
                    <a href="https://www.naver.com/"><img class="img" src="../../resources/image/seoul.jpeg"></a>
                </div>
            </div>
        </div>

        <div class="container" style="margin-top: 150px;">
        <div class="row">
                <div class="col-md-3" style="margin-top: 50px;">
                    <h2>날씨 좋은데</h2>
                    <h2>서울 나들이 어때?</h2>
                    <p>서울부터 서울 근교까지 한번에!</p>
                </div>
                <div class="col-md-3">
                    <a href="https://www.naver.com/"><img class="img" src="../../resources/image/seoul.jpeg"></a>
                </div>
                <div class="col-md-3">
                    <a href="https://www.naver.com/"><img class="img" src="../../resources/image/seoul.jpeg"></a>
                </div>
                <div class="col-md-3">
                    <a href="https://www.naver.com/"><img class="img" src="../../resources/image/seoul.jpeg"></a>
                </div>
            </div>
        </div>

        <div class="container" style="margin-top: 150px; margin-bottom: 120px;">
        <div class="row">
                <div class="col-md-3" style="margin-top: 50px;">
                    <h2>날씨 좋은데</h2>
                    <h2>서울 나들이 어때?</h2>
                    <p>서울부터 서울 근교까지 한번에!</p>
                </div>
                <div class="col-md-3">
                    <a href="https://www.naver.com/"><img class="img" src="../../resources/image/seoul.jpeg"></a>
                </div>
                <div class="col-md-3">
                    <a href="https://www.naver.com/"><img class="img" src="../../resources/image/seoul.jpeg"></a>
                </div>
                <div class="col-md-3">
                    <a href="https://www.naver.com/"><img class="img" src="../../resources/image/seoul.jpeg"></a>
                </div>
            </div>
        </div>
            

        <footer>
            <div class="footer">
                <span></span>

                <ul>2021 액티버디</ul>
                <ul> 회사소개
                    <li><a href="../introduce/introduce.html">액티버디소개</a></li>
                    <li><a href="../mypage/mypage.html">마이페이지</a></li>

                    </ul>

                <ul> 파트너십
                    <li><a href="../partnership/partnership.html">파트너십</a></li>
                </ul>

                <ul> 이용약관
                    <li><a href="../FAQ/Privacy_Policy.html">약관</a></li>
                </ul>

                <ul>결제수단
                    <li><a href="#">카카오페이</a></li>
                </ul>
                <span></span>
                <span></span>
            </div>
        </footer>
</body>
</html>