.jumbotron{
    background-image: url(../image/activitymain.png);
    background-size: contain;
    width: 100%;
    color: white;
}

.mainTitle{
    font-weight: 900;
    margin: 160px 0px 0px 340px;
}

.searchtext {
    margin-left: 300px;
    margin-bottom: 100px;
    width: 400px;
    height: 40px;
    color: black;
    border: 1px solid rgba(253, 253, 237, 1);

  }
  
  .searchbutton{
    width: 100px;
    height: 40px;
    color: white;
    background-color: rgba(0, 166, 81, 1);
  }

.menu1{
  height: 500px;
  background-image: url(../image/Rectangle\ 803.png);
  background-size: contain;
}

.menu2{
  height: 500px;
  background-image: url(../image/Rectangle\ 803.png);
  background-size: contain;
}

.menu3{
  height: 500px;
  background-image: url(../image/Rectangle\ 803.png);
  background-size: contain;
}

.menu4{
  height: 500px;
  background-image: url(../image/Rectangle\ 803.png);
  background-size: contain;
  margin-top: 150px;
  margin-bottom: 150px;
}
.img{
  
  width: 300px;
  height: 300px;
  padding-left: 30px ;
  margin-top: 50px;
}

#body{
  background-color: rgba(253, 253, 237, 1);
}
