.image{
    position: relative;
}

.image #title{
    position: absolute;
    top: 170px;
    left: 80px;
    font-size: 60px;
    bottom: 100px;
    color: white;
}
.image #content{
    position: absolute;
    bottom: 30px;
    left: 20px;
    font-size: 16px;
    color: white;
}

.pagination {
    display: block;
    text-align: center;
}

.pagination > li > a{
    float: none;
}
