<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>mypage</title>
    <link rel="stylesheet" href="../../resources/css/actibuddy.css" />
    <link rel="stylesheet" href="../../resources/css/mypage.css" />
  </head>

  <body>
    <nav class="navbar">
      <ul class="navbar_menu">
        <a href="main.html"
          ><img src="../../resources/image/actibuddylogo.png" class="nav_logo"
        /></a>
        <li class="dropbox"><a href="#">액티비티</a></li>
        <li class="dropbox"><a href="#">메이팅</a></li>
        <li><input type="text" placeholder="Search" /></li>
        <li><button type="submit">Submit</button></li>
      </ul>

      <ul class="navbar_link">
        <li><a href="../FAQ/FAQ_main.html">FAQ</a></li>
        <li><a href="">회원가입</a></li>
        <li>
          <button
            type="button"
            class="login_btn"
            onclick="location.href='main.html'"
          >
            로그인
          </button>
        </li>
      </ul>
    </nav>

    <div class="logo">
      <img
        src="../../resources/image/mypage/mainlogo.png"
        width="400px"
        height="350px"
      />
    </div>

    <hr />

    <div class="div1">해씨초코볼님 환영합니다.</div>

    <div class="div2">
      <div class="div3">
        <div class="div5"></div>
        <div class="div6"></div>
      </div>

      <div class="div4">
        <div class="div5"></div>
        <div class="div5"></div>
      </div>
    </div>

    <footer>
      <div class="footer">
        <span></span>

        <ul>
          2021 액티버디
        </ul>
        <ul>
          회사소개
          <li>
            <a href="../../views/introduce/introduce.html">액티버디소개</a>
          </li>
          <li><a href="../../views/mypage/mypage.html">마이페이지</a></li>
        </ul>

        <ul>
          파트너십
          <li><a href="../../views/faq/FAQ_main.html">파트너십</a></li>
        </ul>

        <ul>
          이용약관
          <li><a href="../FAQ/Privacy_Policy.html">약관</a></li>
        </ul>

        <ul>
          결제수단
          <li><a href="#">카카오페이</a></li>
        </ul>
        <span></span>
        <span></span>
      </div>
    </footer>
  </body>
</html>
