<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>mypage</title>
    <link rel="stylesheet" href="../../resources/css/actibuddy.css">
    <link rel="stylesheet" href="../../resources/css/mypage.css">

</head>

<body>


    <nav class="navbar">
        <ul class="navbar_menu">
            <img src="../../resources/image/actibuddylogo.png" class="nav_logo">
            <li class="dropbox"><a href="#">액티비티</a></li>
            <li class="dropbox"><a href="#">메이팅</a></li>
            <li><input type="text" placeholder="Search"></li>
            <li><button type="submit">Submit</button></li>
        </ul>

        <ul class="navbar_link">
            <li><a href="">FAQ</a></li>
            <li><a href="">회원가입</a></li>
            <li><button type="button" class="login_btn" onclick="location.href='main.html'">로그인</button></li>
        </ul> 
    </nav>


    <div class="logo" >
    
        <img src="../../resources/image/mypage/mainlogo.png" width="400px" height="350px" />
        
    </div>

    <hr>

    <div class="body-all">
    
        <div>
            <h2>해씨초코볼님의 마이페이지</h2>
        </div>
        
        <div class="side-all">
    
            <div class="side-1">
                <br><br><br>
                <img src="../../resources/image/mypage/profile.png" width="100px" height="100px"/>
                <br><br><br><br>
                <hr>
                <br>
                <a href="">로그아웃</a>
                <a href="" id="quit">회원탈퇴</a>
    
                
            </div>
            <div class="side-2">
                
                <br><br>
                <div class="menu">
                    <a href="">여행 내역</a><br><br><br>
                    <a href="">이용 후기</a><br><br><br>
                    <a href="">장바구니</a><br><br><br>
                    <a href="">메이트 내역</a><br><br><br> 
                    <a href="">문의 사항</a><br><br>
                </div>
            </div>

            
        </div>
        
        <div class="center-all">

            <div class="center-1">
                <textarea id ="text1" placeholder="소개를 작성해주세요"></textarea>
        
                <hr>
        
                <textarea> 선호하는 액티비티 : </textarea>
                <button>수정하기</button>
    
            </div>
            <div class="center-2">
                <textarea id ="text1" placeholder="소개를 작성해주세요"></textarea>
            </div>
        </div>

    </div>





    
    
    


        <!-- <aside>
            우측 메뉴
        </aside>

        <section>
            메인내용
        </section> -->

       












<!-- 하단 바 -->
    <footer>
        <div class="footer">
            <span></span>

            <ul>2021 액티버디</ul>

            <ul> 회사소개
                <li><a href="#">회사소개</a></li>
                <li><a href="#">액티버디소개</a></li>
            </ul>

            <ul> 파트너십
                <li><a href="#">파트너십</a></li>
            </ul>

            <ul> 이용약관
                <li><a href="#">약관</a></li>
                <li><a href="#">개인정보보호방침</a></li>
            </ul>

            <ul>결제수단
                <li><a href="#">카카오페이</a></li>
            </ul>
            <span></span>
            <span></span>


        </div>
        
    </footer>


</body>
</html>